@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-purple: #160f29;
    --ming: #246a73;
    --dark-cyan: #368f8b;
    --champagne: #f3dfc1;
}
body{
    background: var(--champagne);
}
nav{
    height: 80px;
    width: 100%;
    background: var(--dark-purple);
    color: var(--champagne);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space mono';
    font-size: 50px;
}
nav span{
    animation: hola 2s ease-in-out;
}
@keyframes hola {
    0%{transform: translateX(0px);}
    10%{transform: translateX(-20px);}
    20%{transform: translateX(20px);}
    30%{transform: translateX(-15px);}
    40%{transform: translateX(15px);}
    50%{transform: translateX(-10px);}
    60%{transform: translateX(10px);}
    70%{transform: translateX(-5px);}
    80%{transform: translateX(5px);}
    90%{transform: translateX(-1px);}
    100%{transform: translateX(0px);}
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: var(--dark-purple);
    height: 400px;
    width: 350px;
    padding: 20px;
}
.user, .topic{
    margin: 20px 0;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: var(--champagne);
}
.submit{
    height: 40px;
    width: 100%;
    margin-top: 150px;
    border-radius: 10px;
    border:none;
    color: var(--dark-purple);
    background: var(--dark-cyan);
    font-size: 20px;
}
